{% extends 'base.html' %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-6 col-12">
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputName" class="form-label">Name</label>
            <input name="name" type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" required>
            <div id="nameHelp" class="form-text">Enter your full name.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputText1" class="form-label">Text</label>
          <textarea name="text" class="form-control" id="exampleInputText1" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-md-6 col-12">
      <h2>Contact Us</h2>
      <ul>
          <li>Phone: 021-1112223</li>
          <li>Email: Info@zafaran.com</li>
          <li>Address: Iran - Tehran - Ashrafi Esfehani - Khanbabayi Gharbi - Pelak 33 - Vahed 7</li>
      </ul>  
    </div>
  </div>
</div>


{% endblock %}

