{% extends 'base.html' %}
{% load static %}

{% block body %}
    <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="30">
        <swiper-slide>
            <img src="{% static "images/pexels-photo-10487658.jpeg" %}" alt="about zaferan website" class="w-100">
        </swiper-slide>
        <swiper-slide>
            <img src="{% static "images/saffron-which-provides-health-benefits.jpg" %}" alt="about zaferan website" class="w-100">
        </swiper-slide>
        <swiper-slide>
            <img src="{% static "images/saffron-flowers-growing-1024x684.jpg" %}" alt="about zaferan website" class="w-100">
        </swiper-slide>
    </swiper-container>

    <h2 class="mt-4 text-center">Categories</h2>
    <div class="d-flex justify-content-between">
        {% for category in categories %}
        <div class="m-md-5 m-2">
            <a href="{% url "Shop" %}?c={{category.id}}">
                <div class="card">
                    <img src="{{category.image.url}}" class="card-img-top w-100" alt="{{category.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{category.name}}</h5>
                        <p class="card-text">{{category.description}}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <script>
        // swiper element
        const swiperEl = document.querySelector('swiper-container');
      
        // swiper parameters
        const swiperParams = {
          autoplay: {
            delay: 3000,
          },
          slidesPerView: 1,
          on: {
            init() {
              // ...
            },
          },
        };
      
        // now we need to assign all parameters to Swiper element
        Object.assign(swiperEl, swiperParams);
      
        // and now initialize it
        swiperEl.initialize();
      </script>
      
{% endblock %}

