{% extends 'base.html' %}

{% block body %}
    <div class="row">
        {% if blogs.count == 0 %}
        <h3 class="text-center mt-3">Not found any blog</h3>
        {% endif %}
        {% for blog in blogs %}
        <div class="col-md-4 col-12 mb-3">
            <div class="card">
                <img src="{{blog.image.url}}" class="card-img-top w-100" alt="{{blog.title}}">
                <div class="card-body">
                  <h5 class="card-title">{{blog.title}}</h5>
                  <p class="card-text">{{blog.description}}</p>
                  <a href="{% url "Blog" blog.id %}" class="btn btn-primary">See More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

